/* Font */
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
$font-Title: "NanumSquare", sans-serif;
$font-Content: "Noto Sans KR", sans-serif;

$point-color: #472d28;
