@import "variable";

/* ============== Layout CSS ============== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  margin: 0 auto;
  max-width: 102.4rem;
  font-family: $font-Content;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: -0.04rem;
  word-spacing: -0.07rem;
  word-break: keep-all;
  line-height: 1.285;
  color: #333;
  background-color: #e9e9e9;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
}

button {
  border: 0;
  background-color: transparent;
}

/* 로고 */
.logo {
  &__icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  &__text {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
  }
}

/* 장바구니 버튼 */
.cart-btn {
  a {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    img {
      width: 100%;
      height: auto;
    }
  }
}

/* 헤더 */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.4rem 0;
  z-index: 2;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  &__burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
    cursor: pointer;
    .icon-line {
      border-radius: 2rem;
      width: 2.6rem;
      height: 0.2rem;
      background-color: #000;
    }
  }
  .logo {
    &__text {
      color: #000;
    }
  }
}

/* 섹션 */
.section {
  padding-bottom: 5rem;
  &__top {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top-tit {
    font-size: 1.8rem;
    font-weight: 400;
  }
  &__top-more {
    font-size: 1.4rem;
  }
}
.container {
  padding: 0 2rem;
}

/* 푸터 */
.footer {
  padding: 2.4rem 2rem 8rem 2rem;
  text-align: center;
  background-color: #f6f7f9;
  color: #777;
  &__logo {
    margin-bottom: 1rem;
    .logo {
      &__text {
        font-size: 1.8rem;
      }
    }
  }
  &__info {
    font-size: 1.2rem;
    &--top {
      margin-bottom: 1rem;
    }
    &--bottom {
      margin-bottom: 2rem;
    }
    &--bold {
      font-weight: 500;
    }
    &--top,
    &--bottom {
      span:before {
        display: inline-block;
        content: "|";
        color: #bdbdbd;
        margin: 0 0.6rem;
        font-size: 1.2rem;
        font-weight: normal;
      }
      span:first-child:before {
        display: none;
      }
    }
  }
}
.top-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  transition: 0.2s ease-in-out;
  a {
    width: 5rem;
    height: 5rem;
    line-height: 6rem;
    display: block;
    background-color: #fff;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    box-shadow: 0.2rem 0.2rem 0.4rem 0 rgb(0 0 0 / 10%);
    opacity: 0.9;
    img {
      width: 2.3rem;
      display: inline-block;
    }
  }
  &.hidden {
    right: -100%;
  }
}

/* 사이드메뉴 */
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  max-width: 102.4rem;
  margin: 0 auto;
  background-color: #f6f7f9;
  z-index: 100;
  &--open {
    display: block;
  }
  &__inner {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  &__header {
    padding: 1.4rem 2rem 0 2rem;
    display: flex;
    background: #fff;
  }
  &__content {
    padding: 1.4rem 2rem;
    margin-bottom: 1.4rem;
    background: #fff;
  }
  &--close-btn {
    cursor: pointer;
    i {
      font-size: 2.6rem;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.4rem;
    margin-bottom: 1.4rem;
    border-bottom: 1px solid #ddd;
  }
  &__top-tit {
    font-size: 1.8rem;
    font-weight: 400;
  }
  &__top-more {
    font-size: 1.4rem;
  }
  /* 사이드메뉴 카테고리 */
  &__categories {
    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 -1.6rem;
    }
    &-item {
      padding: 0 0 2.6rem 2rem;
      flex-basis: 50%;
      > a {
        display: flex;
        align-items: center;
        > span {
          font-size: 1.6rem;
          padding-left: 1rem;
        }
      }
    }
    &-icon {
      width: 4rem;
      height: 4rem;
    }
  }

  /* 사이드메뉴 이벤트 */
  &__event-list {
    margin-bottom: 2rem;
  }
}
