@import "variable";

/* ============== Layout CSS ============== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  margin: 0 auto;
  max-width: 102.4rem;
  font-family: $font-Content;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: -0.04rem;
  word-spacing: -0.07rem;
  word-break: keep-all;
  line-height: 1.285;
  color: #333;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
}

button {
  border: 0;
  background-color: transparent;
}

/* 로고 */
.logo {
  &__icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  &__text {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
  }
}

/* 헤더 */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.4rem 0;
  z-index: 2;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  &__burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
    .icon-line {
      border-radius: 2rem;
      width: 2.6rem;
      height: 0.2rem;
      background-color: #000;
    }
  }

  &__cart {
    a {
      display: inline-block;
      width: 3.2rem;
      height: 3.2rem;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .logo {
    &__text {
      color: #000;
    }
  }
}

/* 섹션 */
.section {
  margin-bottom: 4.6rem;
  &__top {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
  }
  &__top-tit {
    font-size: 1.8rem;
    font-weight: 400;
  }
  &__top-more {
    font-size: 1.4rem;
  }
}
.container {
  padding: 0 2rem;
}

/* 푸터 */
.footer {
  padding: 2.4rem 2rem 6rem 2rem;
  text-align: center;
  background-color: #f6f7f9;
  color: #777;
  &__logo {
    margin-bottom: 1rem;
    .logo {
      &__text {
        font-size: 1.8rem;
      }
    }
  }
  &__info {
    font-size: 1.2rem;
    &--top {
      margin-bottom: 1rem;
    }
    &--bottom {
      margin-bottom: 2rem;
    }
    &--bold {
      font-weight: 500;
    }
    &--top,
    &--bottom {
      span:before {
        display: inline-block;
        content: "|";
        color: #bdbdbd;
        margin: 0 0.6rem;
        font-size: 1.2rem;
        font-weight: normal;
      }
      span:first-child:before {
        display: none;
      }
    }
  }
}
